body {
background: url(background.png);   
background-repeat: no-repeat;
background-size: cover;
}
.heading {
    display: flex;
    justify-self: center;
}
h1 {
    color:#326b6a;
    font-family: "Dancing Script", cursive;
    font-size: 60px;
}
.album {
    display:flex;
    justify-content: center;
    height: 500px;
}
button {
    background-color: #41c0c7;
    color: #326b6a;
    border: none;
    width: 80px;
    font-size: 30px;
}
img {
    width: 500px;     
}